
{% extends 'base.html' %}
{% block title %}Contactanos{% endblock %}
{% block content %}
{% if info_enviado %}
	Gracias por enviar un comentario, nos pondremos en contacto contigo.
	<br>
	La informacion recibida fue la siguente<br>
	<p>Email utilizado: {{email}}</p>
	<p>Titulo: {{titulo}}</p>
	<p>Texto Citado: </p><br><h3>{{texto}}</h3>
{% else %}
<div class="productofondosingle">	
	<div class="well">
		<form action="." method="POST">
				{% csrf_token %}
				{{form.as_p}}
				<input type="submit" value="submit"/>
				
		</form>
	</div>
</div>		
{% endif %}
{% endblock %}

